@import "tailwindcss";

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f2f2f2;
  --bg-card: #e5e5ea5a;
  --text-primary: #000000;
  --text-secondary: rgba(0, 0, 0, 0.5);
  --border: rgba(0, 0, 0, 0.1);
}

.dark {
  --bg-primary: #1c1c1e;
  --bg-secondary: #2c2c2e8e;
  --bg-card: #3a3a3c;
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --border: rgba(255, 255, 255, 0.1);
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}
